body{background-color: rgb(99, 99, 99);}
.glavnaia{
    width: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.knopochki{
    height: 75px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /--position: -fixed;
    top: 0;
    background-color: burlywood;
}
.knop{
    height: 40%;
    width: 18%;
    text-align: center;
    border: 1px solid;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s linear;
}
.knop:hover{
    transform: scale(1.1);
    color: rgb(0, 255, 255);
    background-color: rgb(209, 160, 95);
}
.MAX{
    text-decoration: none;
    color: black;
}
.main{
    display: grid;
    grid-template-columns:repeat(5,240px);
    grid-template-rows:repeat(3,240px);
    grid-template-areas:
    "r1 r1 r2 r3 r5"
    "r8 r7 r2 r4 r6"
    "r9 r7 r10 r10 r10";
    border: 1px solid;
}
@media (max-width: 600px){.main{grid-template-columns: repeat(5,80px);grid-template-rows: repeat(3,80px);}}
.glav{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    -margin-top: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box1{
    grid-area: r1;
    background-color: rgb(0, 89, 255);
    transition: all 0.5s linear 0.2s;
    opacity: 0.5;
}
.box1:hover{
    opacity: 1;
}
.box2{
    grid-area: r2;
    background-color: rgb(153, 0, 255);    transition: all 1s linear 0.2s;
    opacity: 0.5;
}
.box2:hover{
    opacity: 1;
}
.box2im{
    width: 100%;
    height: 100%;
}
.box3{
    grid-area: r3;
    background-color: rgb(255, 217, 0);
    transition: all 1s linear 0.2s;
    opacity: 0.5;
}
.box3:hover{
    opacity: 1;
}
.box4{
    grid-area: r4;
    background-color: rgb(255, 0, 106);
    transition: all 1s linear 0.2s;
    opacity: 0.5;
}
.box4:hover{
    opacity: 1;
}
.box5{
    grid-area: r5;
    background-color: rgb(60, 255, 0);
    transition: all 1s linear 0.2s;
    opacity: 0.5;
}
.box5:hover{
    opacity: 1;
}
.box6{
    grid-area: r6;
    background-color: rgb(0, 255, 170);
    transition: all 1s linear 0.2s;
    opacity: 0.5;
}
.box6:hover{
    opacity: 1;
}
.box7{
    grid-area: r7;
    background-color: rgb(0, 255, 0);
    transition: all 1s linear 0.2s;
    opacity: 0.5;
}
.box7:hover{
    opacity: 1;
}
.box8{
    grid-area: r8;
    background-color: rgb(0, 255, 179);
    transition: all 1s linear 0.2s;
    opacity: 0.5;
}
.box8:hover{
    opacity: 1;
}
.box9{
    grid-area: r9;
    background-color: rgb(255, 174, 0);
    transition: all 1s linear 0.2s;
    opacity: 0.5;
}
.box9:hover{
    opacity: 1;
}
.box10{
    grid-area: r10;
    background-color: rgb(0, 89, 255);
    transition: all 1s linear 0.2s;
    opacity: 0.5;
}
.box10:hover{
    opacity: 1;
}
.futer{
    width: 100%;
    height: 20%;
    background-color: black;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.futer1{
    width: 100%;
    height: 100%;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.social1{
    width:10%;
    height: 10%;
}
.vk{
    width: 5%;
    height: 5%;
}
.text1{
    width: 80%;
    height: 40%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.text2{
    width: 49.5%;
    height: 100%;
    background-color: rgb(122, 216, 103);
}
.text3{
    width: 50%;
    height: 100%;
    background-color: rgb(205, 216, 103);
}
